<section class="firstsection">
    <div class="container-fluid">
        <div class="par col-md-12">
            <h3 class="pas">The Best Way To</h3>
        </div>
        <div class="slogan col-md-12">
            <h1 class="find">Find Your</h1>
            <h1 class="perfect">Perfect Home</h1>
        </div>
        <div class="search row col-xl-11 col-lg-12 col-md-12">
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="f-ico icon" data-toggle="modal" data-target="#location_model">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <input type="text" placeholder="Enter Landmark Location" class="location col-xl-12" id="search" #search>
            </div>
            <div class="dropdown show mar col-xl-2 col-lg-2 col-md-6">
                <a role="button" class="btn button dropdown-toggle" href="#" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">All Properties</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item">Hotel</a>
                    <a class="dropdown-item">H-Rooms</a>
                    <a class="dropdown-item">O-Rooms</a>
                    <a class="dropdown-item">Resorts</a>
                    <a class="dropdown-item">Chalet</a>
                </div>
            </div>
            <div class="dropdown show mar col-xl-2 col-lg-2 col-md-6">
                <a role="button" class="btn button dropdown-toggle" href="#" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">Adults</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item disabled">Number Of Adults</a>
                    <a class="dropdown-item">1</a>
                    <a class="dropdown-item">2</a>
                    <a class="dropdown-item">3</a>
                    <a class="dropdown-item">4</a>
                    <a class="dropdown-item">More</a>
                </div>
            </div>
            <div class="dropdown show mar col-xl-2 col-lg-2 col-md-6">
                <a role="button" class="btn button dropdown-toggle" href="#" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">Children</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item disabled">Number Of Children</a>
                    <a class="dropdown-item">1</a>
                    <a class="dropdown-item">2</a>
                    <a class="dropdown-item">3</a>
                    <a class="dropdown-item">4</a>
                    <a class="dropdown-item">More</a>
                </div>
            </div>
            <div class="dropdown show mar col-xl-2 col-lg-2 col-md-6">
                <a role="button" class="btn button dropdown-toggle" href="#" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">Rooms</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item disabled">Number Of Rooms</a>
                    <a class="dropdown-item">1</a>
                    <a class="dropdown-item">2</a>
                    <a class="dropdown-item">3</a>
                    <a class="dropdown-item">4</a>
                    <a class="dropdown-item">More</a>
                </div>
            </div>
            <div class="d-flex justify-content-center w-100 mt-4">
                <button class="bttn btn-success" type="submit">
                    Search
                </button>
            </div>
        </div>
    </div>
</section>